

#compare-options-panel {
    height: 100%;
    width: 100%;
}

#compare-search-query {
    width: 80%;
    margin: 5px;
    border: none;
    border: 2px solid transparent;
    background: transparent;
}

#compare-search-query:focus {
    border-bottom: 2px solid #39b7f3;
    outline: none;
}

#compare-search-button {
    width: 15%;
    border-radius: 4px;
    background: white;
    color: darkgray;
    border: 2px solid darkgray;
    margin: 5px;
    outline: none;
}

#compare-search-button:hover {
    border: 2px solid #39b7f3;
    border-radius: 4px;
    background: var(--defaultprimary);
    color: #3287d2;
}

.panel-card {
    border-bottom: 1px solid var(--defaultborder);
    padding: 10px;
    width: 100%;
}

#search-results-container {
    border: 1px solid var(--defaultborder);
    border-radius: 3px;
    width: 100%;
    height: 75vh;
    background: white;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding-top: 3px;
}

#graph-id {
    height: 100%;
}

#graph-id-graph-wrapper {
    height: 100%;
}

#svg-container-graph-id {
    height: 100% !important;
}

svg[name=svg-container-graph-id] {
    height: 100% !important;
}

#plot-tabs {
    width: 100%;
    background: rgb(232,232,232);
}

.plot-tab {
    min-width: 20%;
}


.query-result {
    width: 98.5%;
    height: 70px;
    display: grid;
    background: var(--defaultsecondary);
    color: darkgray;
    border: 2px solid var(--defaultborder);
    grid-template-areas:
        'name name add'
        'id1 id2 add';
    grid-template-rows: 35px 15px;
    grid-template-columns: 110px 100px 50px;
    padding: 10px;
    margin-left: 2px;
    margin-bottom: 2px;
}

.query-result:hover {
    background: white;
    color: #39b7f3;
}

.query-result-name {
    grid-area: name;
    font-size: 19px;
    color: black;
}

.query-result-button {
    grid-area: add;
    border-radius: 4px;
    color: darkgray;
    border: 2px solid darkgray;
    height: 30px;
    width: 30px;
    margin-top: 9px;
}

.query-result-button:hover {
    color: #39b7f3;
    border: 2px solid #39b7f3;
    background: var(--defaultprimary);
}

.query-result-id {
    grid-area: id1;
    font-size: 12px;
}

.query-result-source {
    grid-area: id2;
    font-style: italic;
    font-size: 12px;
}

.query-result-added {
    display: inline-grid;
    height: 45px;
    width: 96.5%;
    grid-template-areas: "remove name";
    grid-template-columns: 50px 250px;
    background: var(--defaultsecondary);
    color: darkgray;
    border: 2px solid var(--defaultborder);
    padding: 5px;
    margin: 5px;
}

.query-result-remove-button {
    grid-area: remove;
    height: 30px;
    width: 30px;
    border-radius: 4px;
    color: darkgray;
    border: 2px solid darkgray;
}

.query-result-remove-button:hover {
    background: var(--defaultprimary);
    border: 2px solid #39b7f3;
    color: #39b7f3;
}