

#compare-options-panel {
    height: 100%;
    width: 100%;
}

#compare-search-query {
    width: 95%;
    margin: 5px;
    border: none;
    border: 2px solid white;
}

#compare-search-query:focus {
    border: 2px solid grey;
    outline: none;
}

#compare-search-button {
    width: 94%;
    border-radius: 4px;
    background: white;
    color: #39b7f3;
    border: 2px solid #39b7f3;
}

#compare-search-button:hover {
    width: 94%;
    border: none;
    border-radius: 4px;
    background: #39b7f3;
    color: white;
}

.panel-card {
    border-bottom: 1px solid #e8e8e8;
    padding: 10px;
    width: 100%;
}

#search-results-container {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    width: 100%;
    height: 60vh;
    background: white;
    overflow: scroll;
}