

#compare-options-panel {
    height: 100%;
    width: 100%;
}

#compare-search-query {
    width: 80%;
    margin: 5px;
    border: none;
    border-bottom: 1px solid var(--defaultborder);
    background: transparent;
    color: var(--defaulttext)
}

#compare-search-query:focus {
    border-bottom: 2px solid var(--defaulthover);
    outline: none;
}

#compare-search-button {
    width: 15%;
    border-radius: 4px;
    background: var(--defaultsecondary);
    color: var(--defaulttext);
    border: 1px solid var(--defaultborder);
    margin: 5px;
    outline: none;
}

#compare-search-button:hover {
    border-radius: 4px;
    background: var(--defaulthover);
}

.panel-card {
    padding: 10px;
    width: 100%;
}

#search-results-container {
    width: 100%;
    background: var(--defaultsecondary);
    max-height: 50vh;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding-top: 3px;
    border-radius: 10px;
}

#graph-id {
    height: 100%;
}

#graph-id-graph-wrapper {
    height: 100%;
}

#svg-container-graph-id {
    height: 100% !important;
}

svg[name=svg-container-graph-id] {
    height: 100% !important;
}

#plot-tabs {
    width: 100%;
    background: rgb(232,232,232);
}

.plot-tab {
    min-width: 20%;
}


.query-result {
    width: 98.5%;
    height: 65px;
    display: grid;
    background: var(--defaultsecondary);
    color: var(--defaulttext);
    border: 1px solid var(--defaultborder);
    grid-template-areas:
        'chev name name add'
        'chev id1 id2 add';
    grid-template-rows: 35px 15px;
    grid-template-columns: 40px 120px 70px 30px;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
}

.query-result-dropdown {
    width: 98.5%;
    display: grid;
    background: var(--defaultsecondary);
    transition: all 500ms ease;
    border: 1px solid var(--defaultborder);
    grid-template-areas:
        'field value'
        'add add';
    grid-template-rows: 100px 50px;
    grid-template-columns: 50% 50%;
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 10px;

}

.query-result-accordion {
    margin-bottom: 2px;
    margin-left: 2px;
    transition: all 500ms ease;
}


.query-result-name {
    grid-area: name;
    font-size: 19px;
    color: var(--defaulttext);
}

.query-result-name-with-sim  {
    grid-area: name;
    color: var(--defaulttext);
}

.query-result-name-with-sim > h4 {
    font-size: 14px;
    margin-bottom: 0;
}

.query-result-name-with-sim > p {
    font-size: 11px;
    margin-bottom: 0;
}

.query-result-open-button {
    grid-area: chev;
    color: var(--defaulttext);
    height: 30px;
    width: 30px;
    margin-top: 10px;
    border: none;
    background: var(--defaultsecondary);
}

.query-result-quick-add-button {
    color: var(--defaulttext);
    background: var(--defaultsecondary);
    width: 30px;
    height: 30px;
    border: none;
    margin-top: 9px;
}

.query-result-add-button:hover {
    color: #39b7f3;
    background: var(--defaultborder);
    border-radius: 4px;
    border: 2px solid darkgray;
}

.query-result-id {
    grid-area: id1;
    font-size: 12px;
}

.query-result-source {
    grid-area: id2;
    font-style: italic;
    font-size: 12px;
}

.query-result-added {
    display: inline-grid;
    height: 45px;
    width: 180px;
    grid-template-areas: "remove name";
    grid-template-columns: 50px 250px;
    background: var(--defaultsecondary);
    color: var(--defaulttext);
    border: 1px solid var(--defaultborder);
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.query-result-remove-button {
    grid-area: remove;
    height: 25px;
    width: 30px;
    border-radius: 4px;
    color: var(--defaulttext);
    border: none;
}

.query-result-remove-button:hover {
    background: var(--defaulthover);
}

.query-result-dropdown-button {
    width: 120px;
    height: 25px;
    color: var(--defaulttext);
    border: 2px solid var(--defaultborder);
    border-radius: 5px;
    display: inline;
    grid-area: add;
    overflow: hidden;
    font-size: 11px;
    margin-left: 3px;
    background: var(--defaultsecondary);
}

.query-result-dropdown-button:hover {
    background: var(--defaulthover);
}

.query-result-dropdown p {
    font-size: 12px;
    margin-bottom: 1px;
    text-align: center;
}


#plot-set-tab-container {
    order: 1;
    flex-grow: 1.5;
    height: 100%;
}

#crystal-list-container {
    order: 2;
    flex-grow: 0;
    width: 320px;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


#plot-app {
    width: 100%;
    background: var(--defaultprimary);
    grid-area: plot;
    height: 100%;
}

#plot-app-menu {
    background: var(--defaultsecondary);
    position: relative;
    width: 50px;
    float: right;
    z-index: 2;
    border: solid 2px var(--defaultborder);
    border-radius: 8px;
    margin-top: 10px;
    margin-right: 10px;
    color: var(--defaulttext);
}

.plot-app-menu-button {
    border: none;
    width: 46px;
    height: 50px;
    background: transparent;
    color: var(--defaulttext);
}

.plot-app-menu-button:hover {
    background: var(--defaultborder);
}

.plot-app-menu-button:focus {
    color: var(--defaulthover);
}

.dropdown-content-start {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: none;
    z-index: 1;
}

#plot-app-menu .dropbtn {
    width: 47px;
    height: 50px;
    padding: 5px;
    background: transparent;
}

#plot-app-menu .dropbtn:hover {
    background: var(--defaultborder);
}

#plot-app-menu .dropdown-content {
    right: 52px;
    top: 2px;
    border-radius: 8px;
    border: solid 2px var(--defaultborder);
    min-width: 120px;
    background: transparent;
    overflow: hidden;
    padding: 10px;
}

#plot-app-menu button {
    color: var(--defaulttext);
    background: transparent;
}

#plot-app-menu button:hover {
    color: var(--defaulttext);
    background: var(--defaulthover);
}

#plot-app-menu #graph-choices  button {
    border: none;
    padding: 3px 3px 3px 9px;
    background: var(--defaultsecondary);
    text-align: left;
    overflow: hidden;
    color: var(--defaulttext);
}

#plot-app-menu #graph-choices button:active, button:hover {
    color: var(--defaulttext);
}

#plot-app-menu .dropdown-content button:hover {
    background: var(--defaulthover);
    overflow: hidden;
}

#plot-app-menu .dropdown-content button:focus {
    color: #39b7f3;
}

#plot-app-menu .dropdown {
    height: auto;
}

#plot-app-menu p {
    font-size: 11px;
    margin-bottom: 4px;
}

#plot-app-menu .dropdown-content:hover,.dropdown-content:focus {
    display: block;
    background: var(--defaultsecondary);
}

#plot-app-menu .dropbtn:hover + .dropdown-content {
    background: var(--defaultsecondary);
}

#plot-app-menu .dropdown:active .dropdown-content {
    display: block;
}

#plot-app-menu .dropdown:focus  .dropdown-content {
    display: block;
}

.graph-control-button {
    width: 60px;
    display: inline-block;
    padding: 5px;
    border: 2px solid var(--defaultborder);
    border-radius: 5px;
    margin-left: 5px;
}

#search-facet {
    width: 97%;
    margin-top: 3px;
    background: var(--defaultsecondary);
    border: solid 1px var(--defaultborder);
    color: var(--defaulttext);
    margin-bottom: 10px;
}

#search-panel-settings {
    padding: 10px;
}

#search-k, #search-result-size {
    width: 98%;
}

#plot-app > div > div > svg {
    position: absolute;
}

div.react-sigma-v2 {
    background: transparent !important;
}

#current-crystal-list {
    max-height: 40vh;
    overflow: scroll;
    overflow-x: hidden;
}

.open-plot-app-menu {
    width: 20px;
    display: grid;
    height: 100vh;
    z-index: 1;
    float: right;
    position: relative;
    background: var(--defaultsecondary);
    border-left: 1px solid var(--defaultborder);
    align-content: center;
    justify-content: center;
}

.open-plot-app-menu.clicked {
    background: transparent;
    border: none;
}

.open-plot-app-menu.clicked:hover {
    background: transparent;
    cursor: auto;
}

.open-plot-app-menu:hover {
    cursor: pointer;
    background: var(--defaulthover);
}


.app-menu {
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    height: 98vh;
    color: var(--defaulttext);
    background: var(--defaultsecondary);
    border-radius: 10px;
    border: solid 1px var(--defaultborder);
    padding: 10px;
    right: -100%; /*Put it on the very top*/
    transition: all .3s ease-in-out; /*make it smooth*/
    top: 10px;
    width: 25%;
}

.app-menu.open {
    right: 1%;
}

.app-menu-container {
    padding-top: 10px;
    overflow-y: scroll;
    scrollbar-width: thin;
    height: 95%;
    width: 100%;
}

.app-menu-container::-webkit-scrollbar {
    width: 5px;
    background: var(--defaultsecondary);
}

.app-menu-container > h6 {
    font-style: italic;
    font-size: 12px;
    border-bottom: solid 1px var(--defaultborder);
    padding: 3px;
}