

.dashboard {
    height: 100%;
    overflow: hidden;
    grid-area: main;
}

.left-panel {
    height: 100%;
    width: 23%;
    border-left: dimgrey;
    float: left;
    background: var(--defaultsecondary);
    padding: 30px;
}

.application-bay {
    width: 100%;
    height: 100%;
    background: inherit;
}


#left-side-bar {
    width: 60px;
    background: var(--defaultsecondary);
    border-right: 1px solid var(--defaultborder);
    float: left;
    grid-area: sidebar;

}

.left-side-bar-button {
    width: 85%;
    height: 55px;
    padding: 5px;
    text-align: center;
    border: none;
    margin: 5px;
    background: inherit;
    color: var(--defaulttext)
}

.left-side-bar-button:hover {
    /*background-color: rgb(232, 232, 232);*/
    border-radius: 5px;
    background: var(--defaulthover);
}

.left-side-bar-button:hover span {
    /*background-color: rgb(232, 232, 232);*/
    color: var(--defaultIcon);
}


#left-side-bar > button span {
    display: inline-block;
    text-align: center;
    transform: rotate(-90deg);
    font-size: 10px;
    color: var(--defaulttext);
    overflow: visible;
    position: relative;
    width: 10px;
}

.options-panel {
    height: 100%;
    width: 0;
    background: var(--defaultsecondary);;
    border: 1px solid var(--defaultborder);
    border-top: none;
    grid-area: panel;
}

#left-task-bar {
    height: 100%;
    display: grid;
    grid-template-areas:
    'panel app1 app2';
    grid-gap: 0;
    padding: 0;
    grid-template-rows: calc(100vh - 137px);
    grid-area: task-bar;
}

#view-app-container {
    width: 100%;
    height: 100%;
    display: flex;
}

#molecule-plot-container {
    order: 1;
    flex-grow: 1.5;
    border-right: 1px solid var(--defaultborder);
}

#cif-editor-container {
    order: 2;
    flex-grow: 1;
    min-width: 30%;
}

#compare-app-container {
    height: 100%;
    display: flex;
    max-width: calc(100vw - 325px);
}


#database-app-container {
    width: 100%;
    height: 100%;
    display: flex;
}


#plot-tab-set {
    height: 100%;
}

#app-root-loading {
    display: grid;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

#plot-app-placeholder {
    display: grid;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

#x-axis {
    height: 40px;
    background: transparent;
    border-top: 1px solid var(--defaulttext);
    bottom: 30px;
    width: 90vw;
    z-index: 1;
    position: relative;
    left: 50px;
}

#y-axis {
    height: 90vh;
    background: transparent;
    border-right: 1px solid var(--defaulttext);
    width: 40px;
    z-index: 1;
    position: relative;
    left: 10px;
    bottom: 92%;
}

#xy-axis-outer {
    position: absolute;
    bottom: 20px;
    z-index: 2;
    width: 20vw;
    height: 20vh;
    display: grid;
    grid-template:
            "tick10 axis"
            "tick00 tick01";
    grid-template-columns: 40px auto;
    grid-template-rows: auto 40px;
    left: 50px;
    padding: 4px;
}

#xy-axis-outer:hover {
    background: var(--defaultsecondary);
    border-radius: 4px;
    border: 1px solid var(--defaultborder);
}

#xy-axis-inner {
    width: 14vw;
    height: 14vh;
    border-bottom: 1px solid var(--defaulttext);
    border-left: 1px solid var(--defaulttext);
    grid-area: axis;
}

#tick-upper-left {
    grid-area: tick10;
}

#tick-lower-left {
    grid-area: tick00;
}

#tick-lower-right {
    grid-area: tick01;
    float: right;
}

#tick-lower-right > p {
    float: right;
}

.tick > p {
    font-size: 11px;
}

.no-atom-geometry-content {
    display: grid;
    justify-content: center;
    align-content: center;
}


