

.dashboard {
    height: 100%;
    overflow: hidden;
}

.left-panel {
    height: 100%;
    width: 23%;
    border-left: dimgrey;
    float: left;
    background: #f8f9fa;
    padding: 30px;
}

.application-bay {
    width: 100%;
    height: 100%;
    padding: 5px;
}


#left-side-bar {
    top: 130px;
    height: 100%;
    width: 25px;
    background: #f8f9fa;
    border-right: 1px solid rgb(232, 232, 232);
    float: left;
}

.left-side-bar-button {
    width: 25px;
    height: 120px;
    padding: 0;
    text-align: center;
    border: none;
    background: #f8f9fa;
    border-bottom: 1px solid rgb(232, 232, 232);
    border-right: 1px solid rgb(232, 232, 232);

}

.left-side-bar-button:hover {
    /*background-color: rgb(232, 232, 232);*/
    color: #3287d2;
}

.left-side-bar-button:hover span {
    /*background-color: rgb(232, 232, 232);*/
    color: #3287d2;
}


#left-side-bar > button span {
    display: inline-block;
    text-align: center;
    transform: rotate(-90deg);
    font-size: 10px;
    color: rgb(50,50,50);
    overflow: visible;
    position: relative;
    width: 10px;
}

.options-panel {
    height: 100%;
    width: 0;
    background: #f8f9fa;
    margin-left: 25px;
    position: absolute;
    border: 1px solid rgb(232, 232, 232);
    border-top: none;
}

#left-task-bar {
    height: 100%;
}
