.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#TopMenuBar {
  height: 40px;
  width: 100%;
  background: #f8f9fa;
  border-bottom: 1px solid rgb(232, 232, 232)
}

.show>.dropdown-menu {
  display: block;
  position: absolute;
}

#left-side-bar {
  top: 130px;
  height: 100%;
  width: 25px;
  background: #f8f9fa;
  border-right: 1px solid rgb(232, 232, 232);
  float: left;
}

.left-side-bar-button {
  width: 25px;
  height: 120px;
  padding: 0;
  text-align: center;
  border: none;
  background: #f8f9fa;
  border-bottom: 1px solid rgb(232, 232, 232);
  border-right: 1px solid rgb(232, 232, 232);

}

.left-side-bar-button:hover {
  /*background-color: rgb(232, 232, 232);*/
  color: #3287d2;
}

.left-side-bar-button:hover span {
  /*background-color: rgb(232, 232, 232);*/
  color: #3287d2;
}


#left-side-bar > button span {
  display: inline-block;
  text-align: center;
  transform: rotate(-90deg);
  font-size: 10px;
  color: rgb(50,50,50);
  overflow: visible;
  position: relative;
  width: 10px;
}

.options-panel {
  height: 100%;
  width: 0;
  background: #f8f9fa;
  margin-left: 25px;
  position: absolute;
  border: 1px solid rgb(232, 232, 232);
}

#left-task-bar {
  height: 100%;
}

.dropbtn {
  background-color: #f8f9fa;
  color: rgb(50,50,50);
  font-size: 16px;
  border: none;
  padding: 8px 20px 7px 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  float: left;
  height: 39px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(50, 50, 50);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(232, 232, 232);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgb(232, 232, 232);}